:root{
    --background-color:#e8d7cc;
    --basic-font:"Lucida Consle", "Courier New", monospace;
    --shadow: 0px 10px 15px rgba(0, 0, 0, 0.4), 
    0px -10px 15px rgba(0, 0, 0, 0.4);
    --shadow2:0px 10px 15px rgba(0, 0, 0, 0.4);
}